html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    
}

footer {
    background-color: white;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
    filter: invert(100%);
}

.carousel-indicators {
    position:absolute;
}

div p {
    text-align:center;
}

footer {
    text-align:center;
}

#demo1 {
    margin-bottom:100px;
}

header {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.bg-container {
    background-image: url("../images/accountingMediumSmall.png");
    background-repeat: no-repeat;
    height: 120%;
    width: 120.55%;
    padding-top: 60px;
    padding-left: 0;
    padding-right: 0;
    margin:0;
    margin-left:-115px;
    background-position-x:left;
    background-size: cover;
    overflow:hidden;
}

#reviews {
    padding-top: 60px;
}

#services {
    padding-top: 60px;
}

.contact {
    padding-top: 60px;
}


.contact .container .box form .inputBox input {
    width: 100%;
    font-size: 1.7rem;
    color: black;
    text-transform: none;
}

iframe {
    margin-top:75px;
}

.contact .container .box form {
    gap: 50px;
    padding: 5rem 4rem;
    text-align: center;
}

    .contact .container .box form h2 {
        text-transform: uppercase;
        font-size: 3.5rem;
        color: black;
    }

.contact .container .box form .inputBox {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

 span {
    font-size: 2rem;
    padding-left: 2rem;
}

.btn {
    background-color: cornflowerblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}



/* Clear floats after the columns */
.box:after {
    content: "";
    display: table;
    clear: both;
}

.services .container {
    position:relative;
    width: 2200px;
    height: 300px;
    margin: 240px auto;
}

    .services .container .box {
        position: relative;
        width: 370px;
        height: 270px;
        background: white;
        float: left;
        margin: 10px;
        border: 1px solid black;
        box-sizing: border-box;
        overflow: hidden;
    }

.services .container .box:hover .text-center h4 {
    display:initial;
}
.services .container .box .content p{
    display:none
}
.services .container .box:hover .content p {
    display:initial;
}

.contact .container .box {
    position: relative;
    width: fit-content;
    height: fit-content;
    background: white;
    float: left;
    margin: 15px;
    border: 1px solid black;
    /*    box-sizing: border-box;
*/ overflow: hidden;
    float: left;
    width: 50%;
}