html {
    position: relative;
}

header { /*makes header visible when scrolling and always above content*/
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index:3;
}

/*Home style begins*/


.bg-container { /*background image in home section*/
    background-image: url("../images/accountingMediumSmall.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    background-attachment:fixed;
    height: 100vh;
    width: 100vw;
    padding-top: 60px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    overflow: hidden;
}
/*home style ends*/

/*review style begins*/
.reviews .reviewDiv { /*background color for review section*/
    background-color: rgba(165,183,195,255);
    max-height: 100vh;
    max-width: 100vw;
    padding-top: 60px;
    padding-bottom: 80px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    background-size: cover;
    overflow: hidden;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators { /*makes carousel controls and indicators visible*/
    filter: invert(100%);
}

.carousel-indicators {/*fixes error of indicator overlapping carousel content*/
    position:relative;
    top:150px;
}

.carousel-inner .carousel-item p {/*center aligns carousel paragraph */
    text-align:center;
    font-size:14px;
}

/*review style ends*/

/*services style begins*/
.services {
    display: block;
}

.services .title {
    position:center;
    text-align:center;
}


.card {
    text-align:center;
}
    .services { /*for background color*/
        background-color: rgba(165,183,195,255);
        max-height: 100%;
        max-width: auto;
        padding-top: 60px;
        padding-left: 0;
        padding-right: 0;
        margin: 0;
        background-size: cover;
        display: flex;
        flex-wrap: wrap;
    }

    .services .title {/*centers title and positions it on a separate line*/
        position: center;
        padding-left:40vw;
    }


.contact { /*background color*/
    background-color: rgba(165,183,195,255);
    padding-top: 60px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom:0;
    margin: 0;
    background-size: cover;
}

.contact .title {
    display:block;
    text-align:center;
    position:center;
}

.contact .container .inputBox input {/*form input box color and size*/
    width: 90%;
    font-size: 14px;
    color: black;
    text-transform: none;
}


.contact .container { /*div that holds map and form*/
    position: center;
    object-fit: cover;
      height:fit-content;
    width:fit-content;

}

    .contact .container .box {
        position: relative;
        width: fit-content;
        height:max-content;
        float: left;
        margin: 100px;
        box-sizing: border-box;
    }


    .contact .container .box form {/**/
        object-fit: cover;
        flex: 1 1 45rem;
}

.contact .container .box form .inputBox {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}



.contact .btn {
    background-color: cornflowerblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    position:center;
}

.contact iframe {
    display: block;
    width: 100vw;
    height: 450px;
}


/* Clear floats after the columns */

    /*contact us style ends*/

footer {
    background-color: white;
    text-align: center;
}

@media screen and (max-width:86%) {
    /*for phones*/
    .bg-container {
        display:none;
    }

    .bg-container .text-center {
        display:initial;
    }
}

@media screen and (max-width:530px) { /*hides carousel next and prev buttons so it doesn't overlap on mobile sized screen*/
    .carousel-control-next,
    .carousel-control-prev {
        display: none;
    }

    
}

@media screen and (max-width: 1080px) {
    .carousel-indicators {
        padding-top: 150px;
    }
}