html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

img {
    height:100%;
    width:100%;
}

img:hover {
    width:125%;
    height:101%;
}

/*div .carousel-indicators {
    color: black;
}*/
footer {
    background-color: white;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
/*    filter: invert(100%);*/
}

div p {
    text-align:center;
}

footer {
    text-align:center;
}

#demo {
    margin-bottom:100px;
}

header {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

#home {
    background-image: url("../images/accountingSmallMedium.png");
    background-repeat:no-repeat;
    max-height: 100%;
    max-width: 150%;
    padding-top: 60px;
}

#reviews {
    padding-top: 60px;
}

#services {
    padding-top: 60px;
}

#contact {
    padding-top: 60px;
}