<!DOCTYPE html>
<html>
    <head>
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
<!--Start of Home Section-->
<section class="home">
<div class="bg-container" id="home">
    <!--holds background image (in site.css file) -->
    <div class="text-center">
    <h1 class="display-1" role="heading">SK Associates</h1><!--strong tag added for screen readers-->
</div>    
</div>
</section>
<!--End of Home Section-->

<!--Start of Reviews Section-->
<section class="reviews" id="reviews">
    <div class="reviewDiv"> <!--holds background color-->
 <div class="text-center">
    <h1 class="display-1" role="heading">Reviews</h1>
</div>
<!--Start of paragraph carousel code-->
<div id="reviewCarousel" class="carousel slide" data-bs-ride="carousel">

<!-- Indicators/easy switching between reviews -->
  <div class="carousel-indicators" role="button">
    <button type="button" data-bs-target="#reviewCarousel" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#reviewCarousel" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#reviewCarousel" data-bs-slide-to="2"></button>
  </div>

  <!-- The carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <p>"Wow! In just a few meetings, we were so much more confident about<br /> our business and with the information, SK, provided, we were more clear about the <br />changes we needed to make. Would definitely recommend SK & Associates."</p>
      <p></p>
    </div>
    <div class="carousel-item">
        <p>"I have been working with SK & Associates for many years and they have helped grow our business tremendously by <br /> providing clear financial statements and projections<br /> which helped us deduce the refinements required to make."</p>
        <p></p>
        </div>
    <div class="carousel-item">
        <p>"I would happily recommend SK & Associates. They are very professional, approachable and always provide valuable advice. Because of their help, we were given the peace of mind that we are not alone and that we do not need to worry about the work getting done."</p>
        <p></p>
    </div>
  </div>

  <!-- Left and right controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#reviewCarousel" data-bs-slide="prev" role="button">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#reviewCarousel" data-bs-slide="next" role="button">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
<!--End of paragraph carousel code -->
</div>
</section>
<!--End of Reviews Section-->


<!--Start of Services Section-->
<section class="services" id="services">
    <div class="serviceDiv"> <!--holds background image-->
    <div class="title">
    <h1 class="display-1" role="heading">Our services</h1>
    <br />
    </div>

    <!--boxes to hold the services offered and info abt them-->
    <div class="container">
        <div class="box col">
            <div class="text-center">
                <h4 role="heading">Cashflow, budgeting and financial projections</h4>

                <div class="content">
                <p>It is very important to have numbers relating to the profit and expenses in your
                    business. SK & Associates will show you how much cash is flowing in and help in
                    budgeting as well. We can also make financial projections so you know where your 
                    business is going</p>
            </div>
            </div>
                </div>
        
        <div class="box col">
            <div class="text-center">
                <h4 role="heading">GST and Income Tax Returns</h4>
                </div>
                <div class="content">
                <p> We do planning and consulting of income tax and GST returns to make sure 
                    you understand it and complete all necessary paperwork to a high standard.
                    With the expert accounting at SK & Associates, you can be ensured to have it
                    done fast, accurate and have to pay less tax. We also charge very low fees.</p>
            </div>    
        </div>
        <div class="box col">
            <div class="text-center">
                <h4 role="heading">Bookkeeping</h4>
                </div>
                <div class="content">
                <p>It is vital to have accurate , up-to-date financial information for making business
                    decisions and for IRD. With the services of SK & Associates, we can help free up 
                    your time by doing your bookkeeping for you and also ensure more accurate data.</p>
            </div>
        </div>
        <div class="box col">
            <div class="text-center">
                <h4 role="heading">Company Formation</h4>
                </div>
                <div class="content">
                <p>When starting a business, there is a lot of paperwork that needs to be
                    taken care of. We will take care of it all and provide you with any 
                    paperwork you are required to fill. We will help you in the structure 
                    of your business, making a business plan and financial projections</p>
            </div>
        </div>
        <div class="box col">
            <div class="text-center">
                <h4 role="heading">Financial Advice</h4>
                </div>
                <div class="content">
                <p>Another service we, at SK & Associates, provide is personal and 
                    business financial advise.We can help you in strategy planning, 
                    make you financial models and reducing costs.</p>
            </div>
        </div>
        <div class="box col">
            <div class="text-center">
                <h4 role="heading">PAYE</h4>
                </div>
                <div class="content">
                <p>PAYE(Pay As You Earn) returns are tax returns so the tax is cut directly from their pay.
                    The services we provide related to PAYE are the preparation and filing of PAYE returns with IRD</p>
            </div>
        </div>

    </div>
    </div>
</section>
<!--End of Services Section-->


<!--Start of Contact Us Section-->    
    <section class="contact" id="contact">
                

        <div class="contactDiv">
        <br />
        <div class="title">
            <h1 class="display-1" role="heading"> Contact Us </h1>
        </div>
        <br />
        <div class="container"> <!--holds boxes to store the map and form-->
    <div class="box">
        <div class="contactInfo">
            <h1 role="heading">Our Contact Info</h1>
            <br />
            <br />
            <p><strong>Address:</strong> 158A Astley Avenue, New Lynn 0600</p>
            <br />
            <p><strong>Phone:</strong> <a href="tel:09-825-0311">09-825-0311</a></p>
            <br />
            <p><strong>Email:</strong> <a href = "mailto: nztaxationservices@gmail.com">nztaxationservices@gmail.com</a></p>
            <br />
            <br />
            <br />
            <br />
            <br />


        </div>
        </div>

        <div class="box">
        <form action="">
            <h2 role="heading">Get In Touch</h2>
            <h4 role="heading">Enter your details below and we will be in touch</h4>
            <div class="inputBox">
                <span class="fas fa-user"></span> <!--profile icon-->
                <input type="text" placeholder="name"> <!--name input box-->
            </div>
            <div class="inputBox">
                <span class="fas fa-envelope"></span> <!--email icon-->
                <input type="email" placeholder="email"> <!--email input box-->
            </div>
            <div class="inputBox">
                <span class="fas fa-phone"></span> <!--phone icon-->
                <input type="number" placeholder="number"> <!--phone number input box-->
            </div>
            <input type="submit" value="Get In Touch" class="btn"> <!--submit button-->
        </form>
        </div>
    </div>
    <br />
    <div class="map" id="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3189.6280549117296!2d174.68108031588173!3d-36.9231564913797!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d43fdc790dc91%3A0xff2d056fa32e4b98!2s158A%20Astley%20Avenue%2C%20New%20Lynn%2C%20Auckland%200600!5e0!3m2!1sen!2snz!4v1649068392005!5m2!1sen!2snz" allowfullscreen="yes" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    <br />
    </div>
    </section>
<!--End of Contact Us Section-->
</html>